
@{
    ViewData["Title"] = "博客详情";
}

@{ var a = ViewData["textc"].ToString();}
<style type="text/css">
    h3 {
        background: #5755d9;
        color: #fff;
        width:500px;
    }
    h4 {
        background: #ffb700;
        color: #fff;
    }

</style>
@Html.Raw(a)

<img id="dz" src="~/img/dianzan.png" onclick="updateImg()" />赞！

<!-- 代码染色 -->
<link rel="stylesheet" href="~/css/mac.css" />
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/monokai.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.7.0/dist/highlightjs-line-numbers.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
    window.onload = function () {
        $('pre').wrap('<div class="code-area" style="position: relative"></div>');
        $('.code-area').prepend("<li class='fa fa-copy code_copy' title='复制代码' aria-hidden='true'></li>");
        $('.code-area').prepend("<li class='fa fa-chevron-down code-expand' aria-hidden='true'></li>");
        //$('pre').addClass("line-numbers");
    }
    
    function updateImg() {
        document.getElementById("dz").src = "/img/dianzan1.png";
        document.getElementById("dz").removeAttribute("onclick");
        var xhr = new XMLHttpRequest;
        xhr.open("POST", "/Blog/Support", true)
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        xhr.setRequestHeader("detail", @ViewData["id"])
        xhr.send();
    }
 </script>
<style type="text/css">
    .hljs-ln td {
    padding:0px 15px;
}
</style>
