
@{
    ViewData["Title"] = "BlogList";
}
@*<script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>*@
<script src="~/js/showdown.min.js"></script>
<li id="id2">321</li>
<script type="text/javascript">
  
    let converter = new showdown.Converter();
    let text = '### 123';
    let html = converter.makeHtml(text);
    alert('333');
    alert(html);
    document.getElementById('id2').innerHTML = html;
    
    
</script>