
@{
    ViewData["Title"] = "关于";
}
<div class="card-body">
    <p>
        2020-01-01 00:00:00 - @DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")
    </p>
    <p>
        访问总量：@ViewData["count"]
    </p>
    <p>
        访客人数：@ViewData["users"]
    </p>
</div>
<canvas width="1777" height="841" style="position: fixed; left: 0px; top: 0px; z-index: 2147483647; pointer-events: none;"></canvas>
<script src="https://blog-static.cnblogs.com/files/elkyo/mouse-click.js"></script>