@{
    ViewData["Title"] = "Home Page";
}


<div class="timeline">
    <div class="timeline-item" id="timeline-example-1">
        <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-example-1"></a>
        </div>
        <div class="timeline-content">
            2016年8月
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Linux的五种读法</div>
                    <div class="card-subtitle text-gray">Linux</div>
                </div>
                <div class="card-body">
                    linux发音五花八门版本颇多，见到和听到的不下10种。根据linux的创始人Linus Torvalds的说法，Linux的发音和“Minix”是押韵的。“Li”中“i”的发音类似于“Minix”中“i”的发音，而“nux”中“u”的发音类似于英文单词“profess”中“o”的发音。
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">阅读全文</button>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-item" id="timeline-example-2">
        <div class="timeline-left">
            <a class="timeline-icon icon-lg" href="#timeline-example-2">
                <i class="icon icon-check"></i>
            </a>
        </div>
        <div class="timeline-content">
            2017年9月
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Linux的五种读法</div>
                    <div class="card-subtitle text-gray">Linux</div>
                </div>
                <div class="card-body">
                    linux发音五花八门版本颇多，见到和听到的不下10种。根据linux的创始人Linus Torvalds的说法，Linux的发音和“Minix”是押韵的。“Li”中“i”的发音类似于“Minix”中“i”的发音，而“nux”中“u”的发音类似于英文单词“profess”中“o”的发音。
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">阅读全文</button>
                </div>
            </div>
        </div>
    </div>

    <div class="timeline-item" id="timeline-example-2">
        <div class="timeline-left">
            <a class="timeline-icon icon-lg" href="#timeline-example-2">
                <i class="icon icon-check"></i>
            </a>
        </div>
        <div class="timeline-content">
            2017年9月
            <div class="card">
                <div class="card-header">
                    <div class="card-title h5">Linux的五种读法</div>
                    <div class="card-subtitle text-gray">Linux</div>
                </div>
                <div class="card-body">
                    linux发音五花八门版本颇多，见到和听到的不下10种。根据linux的创始人Linus Torvalds的说法，Linux的发音和“Minix”是押韵的。“Li”中“i”的发音类似于“Minix”中“i”的发音，而“nux”中“u”的发音类似于英文单词“profess”中“o”的发音。
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">阅读全文</button>
                </div>
            </div>
        </div>
    </div>
    <center>
        <input type="button" onclick="window.location.href='/Blog/BlogList'" class="btn" value=" 查 看 更 多 博 客 >> " />
    </center>

    

</div>


@*<div class="text-center">
        <h1 class="display-4">建设中。。。</h1>
        <p><img src="~/img/shigong.gif" /></p>
    </div>*@
