
@{
    ViewData["Title"] = "吃定彩虹";
}

<div class="empty" style="margin-top:100px;">
    <div class="empty-icon">
        <i class="icon icon-people"></i>
    </div>
    <p class="empty-title h5">这个人竟然一篇随笔都没有</p>
    <p class="empty-subtitle">我们得想个办法来催催他.</p>
    <div class="empty-action">
        <a href="tencent://message/?uin=847612460&Site=http://vps.shuidazhe.com&Menu=yes">
            <button class="btn btn-primary">Send a message</button>
        </a>
    </div>
</div>